@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.element-one,
.element-two,
.element-three,
.element-four {
    height: 500px;
    flex-shrink: 0;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.header,
.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header,
.footer,
.element-one {
    background: #1F2937;
}

.header div {
    margin: 10px 20px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.element-one div {
    margin: 0 50px;
}

.element-one {
    display: flex;
    color: white;
    align-items: center;
}

.element-one-image {
    background-color: grey;
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
    padding: 130px;
}

.element-one .left-element {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.element-one .left-element h1 {
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 0;
}

.element-one .right-element {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.element-one .sign-up-button {
    background-color: #3882F6;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 800;
    padding: 10px 35px;
    border-radius: 10px;
}

.element-two {
    flex: 1;
    display: flex;
    flex-direction: column;

}

.element-two .top-element {
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}

.element-two .bottom-element {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 80px;
}

.element-two .bottom-element .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.square {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border: 4px solid blue;
}

.element-three {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;

    background: #E5E7EB;
}

.element-three .text {
    font-size: 25px;
    max-width: 800px;
    width: 700px;
}

.element-three .text .qoute {
    text-align: left;
    font-weight: lighter;
}

.element-three .author {
    text-align: right;
    font-weight: bolder;
}

.element-four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;

    color: #E5E7EB;
}

.element-four .container {
    background: #3882F6;
    width: 100%;
    height: 30%;
    max-width: 1000px;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.element-four .right-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.element-four .right-element .sign-up-button {
    color: #E5E7EB;
    background: #3882F6;
    border: 4px solid #E5E7EB;
    border-radius: 10px;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 900;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: white;
}